.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    background: green;
    color: #fff;
    margin-bottom: 15px;
}
.header button {
    margin-left: 10px;
    
}
  